.logo-provider-wrapper {

  img {
    margin: 2rem 0;
    filter: grayscale(100%);
    transition: all .2s ease-in-out;

    &:hover {
      filter: grayscale(0%);
    }
  }

}

.nav-pills {
  flex-direction: column;
  padding: 4rem 0;
  position: relative;

  @media (min-width: 992px) {
    padding: 0;
    margin-left: 2rem;
    border-left: 2px solid rgba(0, 143, 203, .1);
  }

  .nav-item {
    display: block;
    padding: 0;
    height: 0;
    line-height: 1.6;
    color: black;
    transition: all .2s ease-in-out;
    text-align: center;

    .nav-link {
      color: $body-color;

      span {
        display: none;

        @media (min-width: 992px) {
          display: block;
        }
      }

      &.active span {
        display: block;
      }
    }

    @media (min-width: 992px) {
      height: auto;
      padding: .3rem 1rem;
      position: relative;
      text-align: left;
    }

    @media (min-width: 1200px) {
      padding: 1.5rem 1rem;
    }


    &:hover {
      text-decoration: none;
    }

    @media (max-width: 992px) {
      .nav-link::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $light-violet;
        position: absolute;
        top: 2rem;
        z-index: 100;
        //transform: translateX(-50%);
      }

      &.first {
        margin-top: -5px;

        @media (min-width: 992px) {
          margin-top: 0;
        }
      }

      &.second {
        margin-top: -15px;

        @media (min-width: 992px) {
          margin-top: 0;
        }
      }

      &.third {
        margin-top: -20px;

        @media (min-width: 992px) {
          margin-top: 0;
        }
      }

      &.fourth {
        margin-top: -15px;

        @media (min-width: 992px) {
          margin-top: 0;
        }
      }

      &.first .nav-link::after {
        left: calc(50% - 30px);
      }

      &.second .nav-link::after {
        left: calc(50% - 10px);
      }

      &.third .nav-link::after {
        left: calc(50% + 10px);
      }

      &.fourth .nav-link::after {
        left: calc(50% + 30px);
      }
    }

    .nav-link.active::after {
      background-color: $primary-color;
    }

    .nav-link.active::before {
      background-color: $primary-color;
    }

    @media (min-width: 992px) {
      .nav-link:before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -2px;
        transition: all 300ms ease-in-out;
      }

      .nav-link:before {
        background-color: $light-violet;
      }
    }

    span.tab-title {
      margin-bottom: .5rem;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: bold;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $body-color;
  background-color: transparent;
}

.box-img-top {
  display: flex;
  flex-direction: column;
  text-align: center;

  .img-bg {
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $light-violet;
  }

  img {
    width: 60px;
    border-radius: 0;
  }

  span {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: $heading-color;
  }
}
