
// Spaces

.padding-top-huge {
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 7rem;
  }
}

.padding-bottom-huge {
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    padding-bottom: 7rem;
  }
}

.padding-top-small {
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 4rem;
  }
}

.padding-bottom-small {
  padding-bottom: 2rem;

  @media (min-width: 768px) {
    padding-bottom: 4rem;
  }
}

  // Colors
.has-background-light {
  background-color: $light-violet;
}

.has-background-dark {
  background-color: $dark-color;
}

.has-background-primary {
  background-color: $primary-color;
}

.has-background-white {
  background-color: white;
}

.has-background-half {
  background: rgba(255,255,255,1);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgb(125, 124, 251) 70%, rgb(125, 124, 251) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0279ac', GradientType=1 );

  @media(min-width: 992px) {
    background: rgba(255,255,255,1);
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgb(125, 124, 251) 50%, rgb(125, 124, 251) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0279ac', GradientType=1 );
  }
}

//
.is-bg-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

// Elements
.is-box {
  height: 100%;
  padding: 3rem 1rem 1rem;
  border: 1px solid #DFE2ED;
  border-radius: 5px;
  z-index: 2;

  &.is-white {
    background: white;
  }

  a.goto {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.is-img-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.is-text-box {
  display: flex;
  align-items: center;
  padding: 1rem;

  @media (min-width: 768px) {
    padding: 4rem;
    min-height: 400px;
  }
}

//

.is-h-400 {
  height: 300px;
  position: relative;

  @media (min-width: 768px) {
    height: 400px;
  }
}

.is-jumbotron-title {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

